body {
    background-color: #F0FFFF;
  }
  form {
    margin: auto;
    background-color: #87CEFA;
  }
  h1 {
    text-align: center;
    font-family: "Lucida Console", Monospace;
    font-size: 20px;
  }
  p {
    text-align: center;
    font-family: "Times New Roman", Serif;
    font-size: 10px;
  }
  #community {
    padding: 2em 0;
  }
  #des {
    padding-bottom: 0.5em; 
  }
  #email {
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #21bfdf;
    text-align: left;
    display: block;
  }
  #birthday {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2em;
    background-color: #1414e3;
    text-align: left;
    display: block;
  }
  #First {

  }
  #submit {
    background-color: #f60d0d;
    padding-top: 0.2em;
    padding-left: 2em;
    text-align: left;
    display: block;
  }
  
  @media screen and (min-width: 480px) {
    h1 {
      font-size: 25px;
    }
    p {
      font-size: 15px;
    }
    form {
      width: 75%;
    }
  }
  @media screen and (min-width: 720px) {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 20px;
    }
    form {
      width: 60%;
    }
    #input-email {
      padding-left: 5em;
    }
    #input-dob {
      padding-left: 5em;
    }
    #input-button {
      padding-left: 5em;
    }
  }