*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;

}

body{
  background: rgb(114, 102, 221);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#container{
  background-color: #fff;
  border-radius: 10px; 
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgb(0,0,0.034), 0 6.7px 5.3px rgb(0,0,0.048) 0 12.8px 10.5px rgb(0,0,0.058);
  width: 550px;
  max-width: 100%;

}

#header{
  background-color: rgb(90, 137, 207);
  padding: 30px 0;
}
#header h2{
  color: black;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}
#Form{
  padding: 40px;
}
#Form-control{
  margin-bottom: 30px;
  position: relative;
}
#First{
  
}