*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;

}

body{
  background: rgb(128, 128, 245);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}